<app-spinner [loading]="loading"></app-spinner>
<section class="block refill" *ngIf="!loading">
  <h2 class="block-title">Your Prescriptions</h2>
  <section class="block-item">
    <section *ngIf="refillWidgetData.RefillAvailableCount === '0'">
      <p>You don't have any currenlty available prescripitons.
        <a href="#" (click)="rxHistoryClickTag()" class="link-red with-caret">View past prescriptions</a>
      </p>
    </section>
    <section *ngIf="refillWidgetData.RefillAvailableCount !== '0'">
      <a href="#" (click)="refillClickTag()" class="link-red with-caret">{{refillWidgetData.RefillAvailableCount}}
        {{getRefillUrlFormatted(refillWidgetData.RefillAvailableCount)}}</a>
    </section>

  </section>
  <section class="block-item" *ngIf="refillWidgetData.ShowCDC === true">
    <button type="button" class="block-item-button btn" (click)="findNewMedication()" routerLink="/fastWidgets">Find a new medication</button>
  </section>
</section>
<router-outlet></router-outlet>
