<section class="block refill">
  <app-spinner [loading]="loading"></app-spinner>
  <h2 class="block-title">Your Prescriptions</h2>
  <section class="block-item">
    <section *ngIf="refillWidgetData.RefillPrescriptionCount === '0'">
      <p>You don't have any currenlty available prescripitons.
        <a href="#" (click)="rxHistoryClickTag()" class="with-caret">View past prescriptions</a>
      </p>
    </section>
    <section *ngIf="refillWidgetData.RefillPrescriptionCount !== '0'">
      <a href="#" (click)="refillClickTag()" class="with-caret">{{refillWidgetData.RefillPrescriptionCount}} {{getRefillUrlFormatted(refillWidgetData.RefillPrescriptionCount)}}</a>
    </section>

  </section>
  <section class="block-item">
    <button type="button" class="btn btn-primary btn-sm block-item-button" (click)="findNewMedication()">Find a new medication</button>
  </section>
</section>
