<div class="block recent">

  <h2 class="block-title">{{recentOrdersWidgetData.OrdersCount}} {{RECENT_ORDERS_TEXT}}</h2>
  <app-spinner [loading]="loading"></app-spinner>
    <ul>
      <li *ngFor="let Order of recentOrdersWidgetData.Orders | slice:0:3">
        <a href="">Order #{{Order.OrderNumber}}</a>
        <span class="status" [ngClass]="{'hold' : Order.OrderStatus === ORDER_STATUS_HOLD_TEXT}">{{Order.OrderStatus}}</span>
        <span class="placed">Placed on {{Order.OrderDate | date:"MM/dd/yy"}} for {{Order.OrderedFor | lowercase }}</span>
        <span class="rx">{{Order.RxFills}} Rxs</span>
      </li>
    </ul>
    <a href="" class="with-caret all-orders" (click)="orderClickTag()">{{ORDER_STATUS_HREF_TEXT}}</a>
</div>

