<div class="block recent-orders">

  <h2 class="block-title">{{recentOrders.OrdersCount}} {{RECENT_ORDERS_TEXT}}</h2>
  <app-spinner [loading]="loading"></app-spinner>
  <section class="block-item recent-order">
    <ul>
      <li *ngFor="let Order of recentOrders.Orders | slice:0:3">
        <a href="" (click)="orderNumberClick(Order.OrderNumber)">Order #{{getOrderNumberFormatted(Order)}}</a>
        <span class="status" [ngClass]="{'hold' : Order.OrderStatus === ORDER_STATUS_HOLD_TEXT}">{{Order.OrderStatus}}</span>
        <span class="placed">Placed on {{Order.OrderDate | date:"MM/dd/yy"}} {{Order.OrderedFor}}</span>
        <span class="rx">{{getRxCountFormatted(Order.RxList.length)}}</span>
      </li>
    </ul>
  </section>
  <section class="block-item">
    <p *ngIf="recentOrders.OrdersCount === 0" style="display: inline-block">You don't have any recent orders.</p>
    <a href="" class="link-red with-caret" (click)="orderClickTag()">{{ORDER_STATUS_HREF_TEXT}}</a>
  </section>
</div>

