<main>
<header>
    <a href="#" class="navbar-brand"><img src="assets/images/CVS Caremark.png" alt="CVS Caremark logo - Link to the Homepage" width="100%"></a>
</header>
<div class="content-wrapper">
  <h1>
    {{getTitle()}}
  </h1>
  <section class="block">
    <div class="block-title">
      <h2>Recent Orders</h2>
      <a href="">View orders</a>
    </div>
  </section>
 <!-- <section class="block">
    <div class="block-title">
      <h3>4 Prescriptions ready for refill</h3>
      <a href="">View prescriptions</a>
    </div>
  </section>-->
  <a href="">View my current dashboard</a>
</div>
</main>
