<main>
  <app-spinner [loading]="loading"></app-spinner>

  <div *ngIf="!loading" class="content-wrapper">
    <a href="#" (click)="gotoDashboard()" class="with-caret view-site">Go to full site</a>
    <h1>
      {{getTitle()}}
    </h1>
    <app-attention *ngIf="!isIceMember"></app-attention>
    <app-order-status *ngIf="!isIceMember"></app-order-status>
    <app-refill *ngIf="!isIceMember"></app-refill>
    <section class="block" *ngIf="isIceMember">
      <app-default-order-status></app-default-order-status>
    </section>
    <section class="block" *ngIf="isIceMember">
      <app-default-refill></app-default-refill>
    </section>
  </div>
</main>
