<main *ngIf="showLatestVersion">
  <app-spinner [loading]="loading"></app-spinner>

  <div *ngIf="!loading" class="content-wrapper">
    <a href="#" (click)="gotoDashboard()" class="with-caret view-site">Go to full site</a>
    <h1>
      {{getTitle()}}
    </h1>
    <app-attention></app-attention>
    <app-order-status></app-order-status>
    <app-refill></app-refill>
  </div>
</main>
<main *ngIf="!showLatestVersion">
  <app-spinner [loading]="loading"></app-spinner>
  <div *ngIf="!loading" class="content-wrapper">
    <h1 style="padding-bottom: 50px">
      {{getTitle()}}
    </h1>
    <section class="block">
      <app-default-order-status></app-default-order-status>
    </section>
    <section class="block">
      <app-default-refill></app-default-refill>
    </section>
    <a href="#" (click)="gotoDashboard()" class="with-caret">Go to full site</a>
  </div>
</main>

