<div>
<h2 class="block-title tasks">Your Tasks</h2>
<section class="block-item">
  <em class="important">Ask your doctor to contact us</em>
  <p> Your order is <em>on hold</em> because we need some additional information about the prescriptions listed</p>

  <section class="hold-order">
    <ul>
      <li>
        <span class="name"><em>GLUCOPHAGE</em> 500MG Tab</span>
        <span class="order"><em>Order 213992</em></span>
        <span class="prescriber"><em>Prescriber: Dr. Gwendolyn Esposito</em></span>
        <span class="date"><em>Requestest 04/19/18 for Georgina</em></span>
        <span class="viewall"><a href="" class="with-caret">View order</a></span>
      </li>
    </ul>
  </section>
</section>
</div>
