<section class="block tasks" *ngIf="attentionData.Orders.length > 0">
  <app-spinner [loading]="loading"></app-spinner>
  <h2 class="block-title">Your Tasks</h2>
  <section class="block-item" >
    <em class="important">Ask your doctor to contact us</em>
    <p *ngIf="attentionData.Orders.length > 1"> Your orders are <em>on hold</em> because we need some additional information about the prescriptions listed</p>
    <p *ngIf="attentionData.Orders.length === 1"> Your order is <em>on hold</em> because we need some additional information about the prescriptions listed</p>

    <section class="hold-order">
      <ul *ngFor="let order of  attentionData.Orders | slice:0:3">
        <li class="name"><b>{{order.DrugName}}</b> {{order.DrugStrength}} {{order.DrugDosage}}</li>
        <li class="order">Order #{{getOrderNumberFormatted(order)}}</li>
        <li class="prescriber">Prescriber: Dr. {{order.DoctorFullName}}</li>
        <li class="date">Requested {{order.OrderDate | date:"MM/dd/yy" }} {{order.OrderedFor}}</li>
      </ul>
    </section>
  </section>
  <a href="" class="with-caret all-orders" (click)="orderClickTag()">{{ORDER_STATUS_HREF_TEXT}}</a>
</section>
