<div class="dashboard-container" fxLayout="column">
  <div class="header"></div>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="15px" fxLayoutGap.xs="5px" class="main">
    <div fxFlex="5%" class="nav-menu"></div>
    <!--app-dashboard-widget-loader *ngFor="let widget of widgets" [widget]="widget">
    </app-dashboard-widget-loader-->
    <div fxLayout="column"  fxFlex="60%" fxFlexOrder class="center-widgets">
      <app-attention></app-attention>
      <app-refill></app-refill>
      <app-order-status></app-order-status>
    </div>
    <div fxFlex="30%" fsFlexOrder class="side-widgets">
      <app-plan-summary></app-plan-summary>
    </div>
  </div>
  <div class="footer"></div>
</div>

