<div fxLayout="row" fxLayoutGap="15px" fxLayout.xs="column" style="margin-right: 15px" class="main">
  <div fxFlex="5%" fsFlexOrder class="nav-menu"></div>
  <!--app-dashboard-widget-loader *ngFor="let widget of widgets" [widget]="widget">
  </app-dashboard-widget-loader-->
  <div fxLayout="column" fxLayoutGap="15px" fxFlex="" fxFlexOrder class="center-widgets">
    <div class="content-wrapper">
      <a href="#" (click)="gotoDashboard()" class="with-caret view-site">Go to full site</a>
      <h1>
        {{getTitle()}}
      </h1>
    </div>
    <app-attention></app-attention>
    <app-refill></app-refill>
    <app-order-status></app-order-status>
  </div>
  <div fxFlex="30%" fsFlexOrder class="side-widgets">
    <app-plan-summary></app-plan-summary>
  </div>
</div>
