/*----------------------------------- RESET -------------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, address, main {
  box-sizing: border-box;
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*----------------------------------- GENERAL -------------------------------------*/
body {
  font-family:'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  color: #000;
}
a {
  color: #CC0000;
  font-weight: bold;
}
b {
  font-weight: bold;
}
/*----------------------------------- BODY -------------------------------------*/
.content-wrapper {
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 10px;
  margin-bottom: 30px;
  max-width: 625px;
}
@media only screen and (min-device-width : 768px) {
  .content-wrapper {
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 15px;
    margin-bottom: 30px;
  }
}
.content-wrapper h1 {
  clear: both;
  font-size: 1.75em;
  font-weight: bold;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 15px;
}
@media only screen and (min-device-width : 768px) {
  .content-wrapper h1 {
    clear: none;
    float: left;
    font-size: 1.75em;
    padding-bottom: 20px;
  }
}
.view-site {
  font-size: .875em;
  float: right;
}

.block {
  border-bottom: 1px solid #EEEEEE;
  clear: both;
  margin-bottom: 15px;
  margin-top: 15px;
}

.block > a {
  font-size: .875em;
}

.block a.link-red {
  text-decoration: none;
}

.block a.link-red:hover {
  color: #EB0000;
}

.block a.link-red:active {
  color: #a50000;
}

@media only screen and (min-device-width : 768px) {
  .block p {
    font-size: 1em;
  }
}

.with-caret{
  background:	url(./assets/images/caret.png) right center no-repeat;
  background-size: 11px 18px;
  display: inline-block;
  padding: 2px 20px 2px 0;
  text-decoration: none;
}

.with-caret:hover {
  background:	url(./assets/images/caret-hover.png) right center no-repeat;
  background-size: 11px 18px;
  display: inline-block;
  padding: 2px 20px 2px 0;
  text-decoration: none;
}

.with-caret:active {
  background:	url(./assets/images/caret-active.png) right center no-repeat;
  background-size: 11px 18px;
  display: inline-block;
  padding: 2px 20px 2px 0;
  text-decoration: none;
}


.block-title {
  font-weight: bold;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 15px;
}

@media only screen and (min-device-width : 768px) {
  .block-title {
    font-size: 1.125em;
  }
}

.block-item {
  font-size: .875em;
  margin-bottom: 15px;
  margin-left: 5px;
}

@media only screen and (min-device-width : 768px) {
  .block-item {
    margin-left: 20px;
  }
}

.alert-text p {
  color: #333;
}

.alert-text p em {
  color: #CC0000;
  font-weight: bold;
}

.important {
  background:	url(./assets/images/warning.png) left center no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 5px;
  font-size: 16px;
}
@media only screen and (min-device-width : 768px) {
  .hold-order > a {
    float: left;
  }
}
.hold-order ul {
  overflow: auto;
  border: 2px solid #DEDBDB;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;

}
.hold-order li {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.hold-order li.view-order {
  padding-bottom: 0px;
}
@media only screen and (min-device-width : 768px) {
  .hold-order ul {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .hold-order li {
    float: left;
    width: 50%;
  }
  .hold-order li.view-order {
    margin-left: 0.5px;
  }
}


.recent-order > ul {
  overflow: auto;
}
.recent-order > ul li {
  margin-bottom: 15px;
  overflow: auto;
}
.recent-order > ul li span, .recent-order > ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
}
.recent-order > ul li a, .recent-order > ul li .placed {
  color: #000;
  clear: left;
  float: left;
}
.recent-order > ul li .rx, .recent-order > ul li .status {
  float: right;
}
.recent-order > ul li .status {
  font-weight: bold;
}
.recent-order > ul li .status em {
  color: #CC0000;
}

.recent-order > ul li .status.hold {
  color: #CC0000;
}

.recent-order > ul li a {
  text-decoration: underline;
}

.recent-order > ul li a:hover {
  color: #767676;
}

.recent-order > ul li a:active {
  color: #333333;
}

@media only screen and (min-device-width : 768px) {
  .recent-order > ul li a {
    width: 25%;
    text-decoration: underline;
  }
  .recent-order > ul li .placed {
    clear: none;
    width: 43%;
  }
  .recent-order > ul li .rx {
    width: 10%;
  }
  .recent-order > ul li .status {
    text-align: right;
    width: 20%;
  }
}

.recent-order .all-orders {
  color: #CC0000;
  text-decoration: none;
}


.block-item-button {
  background-color: #CC0000;
  border: none;
  color:white;
  padding: 12px 0;
  font-size: 16px;
  border-bottom: 2px solid #a50000;
  width: 290px;
  text-align: center;
  text-decoration: none;
  border-radius: 0;
}

.block-item-button:hover {
  background-color: #EB0000;
  border-color: #EB0000;
}

.block-item-button:active {
  background-color: #a50000;
  border-color: #a50000;
}

@media only screen and (min-device-width : 768px) {
  .block-item-button {
    width: 215px;
  }
}


