/*----------------------------------- RESET -------------------------------------*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  line-height: 1;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, address, main {
  box-sizing: border-box;
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*----------------------------------- GENERAL -------------------------------------*/
body {
  font-family:'Helvetica', 'Arial', sans-serif;
  font-size: 100%;
  color: #000;
}
a {
  color: #CC0000;
  font-weight: bold;
}
b {
  font-weight: bold;
}
/*----------------------------------- BODY -------------------------------------*/
.content-wrapper {
  margin: 10px 10px 30px 10px;
  max-width: 625px;
}
@media only screen and (min-device-width : 768px) {
  .content-wrapper {
    margin: 30px 20px 30px 18px
  }
}
.content-wrapper h1 {
  clear: both;
  font-size: 1.375em;
  font-weight: bold;
  padding: 0 0 20px;
}
@media only screen and (min-device-width : 768px) {
  .content-wrapper h1 {
    clear: none;
    float: left;
    font-size: 1.75em;
    padding-bottom: 20px;
  }
}
.view-site {
  font-size: .875em;
  float: right;
}
@media only screen and (min-device-width : 768px) {
  .view-site {
    margin-top: 15px;
  }
}
.block {
  border-bottom: 1px solid #EEEEEE;
  clear: both;
  margin-bottom: 15px;
  padding: 0 0 0 10px;
}
.block.tasks {
  padding-bottom: 20px;
}

.block.recent {
  padding-bottom: 15px;
}
.block.refill {
  padding-bottom: 5px;
}
.block > a {
  font-size: .875em;
}
@media only screen and (min-device-width : 768px) {
  .block {
    margin-bottom: 25px;
    padding: 0;
  }
  .block.tasks {
    padding-bottom: 20px;
  }
  .block.recent {
    padding-bottom: 20px;
  }
  .block.refill {
    padding-bottom: 10px;
  }
}
.block-title {
  font-weight: bold;
  padding: 0 0 10px 0;
}
@media only screen and (min-device-width : 768px) {
  .block-title {
    padding-bottom: 15px;
  }
  .recent .block-title{
    padding-bottom: 10px;
  }
}
@media only screen and (min-device-width : 768px) {
  .block-title {
    font-size: 1.125em;
  }
}
.with-caret{
  background:	url(./assets/images/caret.png) right center no-repeat;
  background-size: 11px 18px;
  display: inline-block;
  padding: 2px 20px 2px 0;
  text-decoration: none;
}
.block p {
  color: #333;
  line-height: 1.325em;
  padding: 0 0 10px;
}
@media only screen and (min-device-width : 768px) {
  .block p {
    padding-bottom: 15px;
  }
}
.block-item {
  font-size: .875em;
}
.hold-order {
  padding-bottom: 0px;
}
.block-item p em {
  color: #CC0000;
  font-weight: bold;
}

@media only screen and (min-device-width : 768px) {
  .block-item {
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
.important {
  background:	url(./assets/images/warning.png) left center no-repeat;
  background-size: 20px 20px;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 5px;
  padding: 5px 25px;
}
@media only screen and (min-device-width : 768px) {
  .hold-order > a {
    float: left;
  }
}
.hold-order ul {
  overflow: auto;
  padding: 5px 0;
}
.hold-order li {
  padding: 5px 0;
}
.hold-order li.view-order {
  padding-bottom: 0px;
}
@media only screen and (min-device-width : 768px) {
  .hold-order li {
    float: left;
    width: 50%;
  }
  .hold-order li.view-order {
    margin-left: 0.5px;
    color: #CC0000;
    text-decoration: none;
  }
}
.block > ul {
  font-size: .875em;
}
@media only screen and (min-device-width : 768px) {
  .block > ul {
    margin-left: 20px;
  }
  .block .all-orders {
    margin-left: 20px;
    color: #CC0000;
    text-decoration: none;
  }
}
.block > ul li {
  margin-bottom: 10px;
  overflow: auto;
}
.block > ul li span, .block > ul li a {
  padding: 4px 0;
}
.block > ul li a, .block > ul li .placed {
  color: #000;
  clear: left;
  float: left;
}
.block > ul li .rx, .block > ul li .status {
  float: right;
}
.block > ul li .status {
  font-weight: bold;
}
.block > ul li .status em {
  color: #CC0000;
}

.block > ul li .status.hold {
  color: #CC0000;
}
@media only screen and (min-device-width : 768px) {
  .block > ul li a {
    width: 25%;
    text-decoration: underline;
  }
  .block > ul li .placed {
    clear: none;
    width: 43%;
  }
  .block > ul li .rx {
    width: 10%;
  }
  .block > ul li .status {
    text-align: right;
    width: 20%;
  }
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #CC0000;
  border-color: #CC0000;
}

@media only screen and (min-device-width : 768px) {
  .block-item-button {
    border-top: 1em;
  }
}
